
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #193151;
$date-color: #999;
$font-size-li: 15px;
$a-tags: 'a, a:visited';
$a-tags-hover: 'a:active, a:hover';
$inputs-placeholder: 'input::-webkit-input-placeholder,input::-moz-placeholder, input::input-placeholder';


html,
body {
	margin: 0;
	padding: 0;
  	font: 14px $font-stack;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 1000px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

#header{
	
	color: white;
	border-bottom: $primary-color solid 2px;
	
	input {
		border: 1px solid #E4E4E4;
		-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
		padding: 7px;
		background: rgba(255, 255, 255, 0.9);
		margin: 0 0 10px 0;
	}
	
	h3{
		display: inline-block;
	}
	
	#search-container, #settings-container{
	    padding: 0 20px;
		background-color: $primary-color;
	}
	
	form#search-form{
		display: inline-block;
	}
	
	#slow-connection-message{
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px 10px;
		background-color: yellow; 
		margin: 0;
		color: #7b7b7b;
	}
	
}

#news-listing{
	padding-right: 40px;
}

#no-results{
	
	margin-top: 40px;
    text-align: center;
	
	p{
		font-size: 20px;	
	}
}

li{
  
    list-style: none;
    padding: 10px 13px;
    font-size: $font-size-li;
    cursor: pointer;
	
	&:before {
		content: 'â¯';
		font-size: 16px;
		color: $primary-color;
		padding: 10px 27px 10px 27px;
	}
	
    mark{
      padding: 3px;
    }
	

}


#news-listing > li:hover {
    background-color: #e4e4e4;
}


.hide {
  display: none;
}

button {
	position: absolute;
    color: #fff;
	margin: 0;
	background-color: $primary-color;
    font-size: 20PX;
    padding: 5px 9px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	outline: none;	
	right: 0;
	top: 0;
	cursor: pointer;
}


#container {
	background: #fff;
	padding: 30px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#{inputs-placeholde}{
	
	font-style: italic;
	font-weight: 300;
	color: #999;
	
}


#container h2 {
	
	width: 100%;
	font-size: 50px;
	line-height: 60px;
	font-weight: 100;
	text-align: center;
	color: $primary-color;
	text-transform: uppercase;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

div.input{
	display: inline-block;
}

label {
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 10px 15px 15px;
	margin-left: 45px;
	display: inline-block;
	line-height: 1.2;
	transition: color 0.4s;
}

#news-details{
	
	h3{
		color: white;
		margin-top: 0;
		padding: 18px 20px;
		background-color: $primary-color;
	}
	
	.img-container{
		
		text-align: center;
		
		img{
			max-width: 90%;
		}
	}
	
	#details-body{
		
		padding: 0 20px;
		margin-left: 42px;
		border-left: $primary-color solid 3px;
	}
	
	#related-stories-label{
		padding: 12px 20px;
		width: 121px;
		color: #fff;
		background-color:$primary-color;
	}
	
	ul{
		padding: 0;
	}
}

span.publishe-date, span.publisher{
	
	color: $date-color;
	font-size: 10px;
	
	&:before{
		content: '.';
		padding: 0 5px;
		font-size: 15px;
		vertical-align: text-bottom;
	}
}

@media (max-width: 768px) {
	
	#news-listing{
		padding: 0;
	}
	
	li{
	
		&:before{
			padding: 5px 9px 5px 3px;
			display: block;
			float: left;
			line-height: 74%;
			}
	
		span{
			display: none;
		}
	
	}
	
	#news-details #details-body{
		margin-left: 19px;
	}
	
	#header{
	
		h3{
			display: block;
			padding-top: 12px;
		}
	
	}
	
	label{
	
		margin-left: 0;
	
		padding: 0;
	}

}