$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #333;
$date-color: #999;
$font-size-li: 15px;
$a-tags: 'a, a:visited';
$a-tags-hover: 'a:active, a:hover';
$inputs-placeholder: 'input::-webkit-input-placeholder,input::-moz-placeholder, input::input-placeholder';


html,
body {
	margin: 0;
	padding: 0;
  	font: 14px $font-stack;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 1000px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

#header{
	color: white;
	border-bottom: #193151 solid 2px;
	
	input {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 7px;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 0 10px 0;
	}
	
	h3{
		display: inline-block;
	}
	#search-container, #settings-container{
	    padding: 0 20px;
		background-color: #193151;
	}
	form#search-form{
		display: inline-block;
	}
}

#news-listing{
	padding-right: 40px;
}
#no-results{
	margin-top: 40px;
    text-align: center;
	p{
		font-size: 20px;	
	}
}

li{
  
    list-style: none;
    padding: 10px 5px;
    font-size: $font-size-li;
    cursor: pointer;
	
	&:before {
		content: 'â¯';
		font-size: 16px;
		color: #193151;
		padding: 10px 27px 10px 27px;
	}
	
    mark{
      padding: 3px;
    }
	

}


#news-listing > li:hover {
    background-color: #e4e4e4;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  //transition: color 0.2s ease-out;  
  animation: fadeIn .5s ease-in 2 forwards;
  display: none;
}

button {
	position: absolute;
    color: #fff;
	margin: 0;
	background-color: #193151;
    font-size: 20PX;
    padding: 5px 9px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	outline: none;	
	right: 0;
	top: 0;
	cursor: pointer;
}


#container {
	background: #fff;
	padding: 30px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#{inputs-placeholde}{
	font-style: italic;
	font-weight: 300;
	color: #999;
}


#container h2 {
	width: 100%;
	font-size: 50px;
	line-height: 60px;
	font-weight: 100;
	text-align: center;
	color: #193151;
	text-transform: uppercase;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
div.input{
	display: inline-block;
}

label {
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 10px 15px 15px;
	margin-left: 45px;
	display: inline-block;
	line-height: 1.2;
	transition: color 0.4s;
}

#news-details{
	h3{
		color: white;
		margin-top: 0;
		padding: 18px 20px;
		background-color: #193151;
	}
	
	.img-container{
		text-align: center;
		
		img{
			max-width: 90%;
		}
	}
	
	#details-body{
		    padding: 0 20px;
			margin-left: 35px;
		    border-left: #193151 solid 3px;
	}
	ul{
		padding: 0;
	}
}

span.publishe-date, span.publisher{
	color: $date-color;
	font-size: 10px;
	&:before{
		content: '.';
		padding: 0 5px;
		font-size: 15px;
		vertical-align: text-bottom;
	}
}
/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}